.wrapper.instructions p {
    /* text-align: left; */
    max-width: 600px;
    margin: 15px auto;
    font-size: 22px;
}

.wrapper.instructions button {
    letter-spacing: 1.25px;
}

.wrapper.instructions article {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding: 20px;
}

