.main-nav {
    /* background-color: red; */
    text-align: center;
}

.main-nav span {
    display: inline-block;
    background: #eee;
    margin: 0 5px;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.12s ease-in-out;    
}

.main-nav span:hover {
    background: #ddd;
}