.user-stats-wrap {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    text-align: center;
}

.user-stats {
    background: #eee;
    padding: 20px;
    margin: 5px 3px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.user-stats.current-user {
    background: #f4f4f4;
    box-shadow: 4px 4px 0 #ccc;
}

.user-stats .btn {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 6px 10px
}

.delete-user {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    padding: 0px 7px;
    background: #fff;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f65353;
    cursor: pointer;
}

.delete-user:hover {
    background: #fafafa;
}

.user-stats h3 {
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.no-users {
    color: #888;
    font-size: 22px;
    text-align: center;
}

.history-game {
    background-color: #fff;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
}