.answers {
    text-align: center;
}

.answer {
    display: inline-block;
    border: 1px solid #eee;
    padding: 25px;
    width: 42%;
    margin: 5px 0.5%;
    background: #f8f8f8;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.12s ease-in-out;    
}

.answer:hover {
    background: #eee;
}


.answer-feedback .correct {
    color: green
}

.answer-feedback .wrong {
    color: red
}