/* @import url('https://fonts.googleapis.com/css?family=Hind:300,400,700'); */
@import url('https://fonts.googleapis.com/css?family=Jaldi:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: 'Jaldi', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.wrapper {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    text-align: center;
    border: 1px dashed #eee;
}

.btn {
    background-color: #888;
    color: #fff;
    padding: 20px;
    display: block;
    margin: 15px auto;
    text-transform: uppercase;
    border: none;
}

.current-player {
    text-align: center;
    color: #888;
    margin: 30px auto -15px;
}